<head>
    <link rel="stylesheet" href="stylesheets/css/faq.css">
</head>
<main>
<div class="FAQ-div">
      <h3 class="title">FAQs</h3>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
      <div class="div_question">
        <h5 class="h_question">Do you sell my data?</h5>
        <p class="p_answer">
          We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your
          data, we wouldn’t tell you.
        </p>
      </div>
    </div>
</main>