<head>
    <link rel="stylesheet" href="stylesheets/faq.css">
</head>
<main>
  <h2>FAQ</h2>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
  <h3>Do you sell my data?</h3>
  <p>We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</p>
</main>