<section class="Forgot_Password-div">
      <h3 class="title">Forgot Password</h3>
      <form class="Forgot_Password-form" action="#">
        <label class="form_label" for="email">Email</label>
        <input class="form_input" type="email" id="email" name="email" placeholder="youremail@email.com" />
        <input class="form_btn" type="submit" value="Send recovery email" />
      </form>
</section>