<main class="landing">
    <section class="hero">
        <div class="hero-about">
            <h1 class="hero-title">The place where you get that job </h1>
            <p class="hero-text">With our Machine learning algorithm you will get that job in no time, We promise you! Just give us the money and we 
            will take care of it. </p>
            <a href="sign-up" class="hero-btn button">Create your account now</a>
        </div>
        <img class="hero-img"src="images/girl-with-cat.png" alt="principal image">
    </section>

    <section class="findJob">
        <div class="findJob-description">
            <h1 class="findJob-title"> Find your next tech job </h1>
            <p class="findJob-text">
                Our Machine learning algorithm is so good that it’s even illegal in some countries. Join us 
                to use our barelly legal algorithm that is actually a group of interns that work on our basement.
            </p>
            <p class="findJob-text">
                We have a job for you, no matter your background or previous experience. Is sending random memes 
                through chat your only skill? That’s ok, we got you, our Rock Star Meme Curator role is here for you. 
            </p>
        </div>
        <div class="findJob-target-list">
            <div class="findJob-target">
                <div class="findJob-target-empresa">
                    <img class="findJob-taget-logo" src="images/A1.png">
                    <div class="target-detail">
                        <a href="jobs" class="target-detail-title">Software Engineer</a>
                        <h5 class="target-detail-place">
                            Able - Lima 
                            <img class="target-flag" src="images/peru.svg">
                        </h5>
                    </div>
                </div>
                <div class="findJob-target-tecno">
                    <img class="findJob-taget-money" src="images/monetization.png">
                    <span class="findJob-target-tec"> ReactJS</span>
                    <span class="findJob-target-time"> Today</span>
                </div>
            </div>
            <div class="findJob-target">
                <div class="findJob-target-empresa">
                    <img class="findJob-taget-logo" src="images/A1.png">
                    <div class="target-detail">
                        <a href="jobs" class="target-detail-title">Software Engineer</a>
                        <h5 class="target-detail-place">
                            Able - Lima 
                            <img class="target-flag" src="images/peru.svg">
                        </h5>
                    </div>
                </div>
                <div class="findJob-target-tecno">
                    <img class="findJob-taget-money" src="images/monetization.png">
                    <span class="findJob-target-tec"> ReactJS</span>
                    <span class="findJob-target-time"> Today</span>
                </div>
            </div>
            <div class="findJob-target">
                <div class="findJob-target-empresa">
                    <img class="findJob-taget-logo" src="images/A1.png">
                    <div class="target-detail">
                        <a href="jobs" class="target-detail-title">Software Engineer</a>
                        <h5 class="target-detail-place">
                            Able - Lima 
                            <img class="target-flag" src="images/peru.svg">
                        </h5>
                    </div>
                </div>
                <div class="findJob-target-tecno">
                    <img class="findJob-taget-money" src="images/monetization.png">
                    <span class="findJob-target-tec"> ReactJS</span>
                    <span class="findJob-target-time"> Today</span>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="testimonies">
            <img src="images/left.svg">
            <div class="testimonies-content">
                <img src="images/girl.png">
                <h1 class="testimonies-title"> “Amazing experience, I love it a lot. Thanks to the team <br class="br">I got that Job, great!”<h1>
                <h2 class="testimonies-autor">Lassy Chester</h2>
                <h3 class="testimonies-job">Art Director</h3>
            </div>
            <img src="images/right.svg">
        </div>
    </section>
    <section class="contact">
        <div class="contact-information">
            <h5 class="contact-span">Contacts</h5>
            <h1 class="contact-title">Get in Touch</h1>
            <h4 class="contact-subtilte">If you are not sure yet, shoot us a message!</h4>

        </div>
        <div class="contact-referen">
            <p class="contact-email">hello@getthatjob.com
            <br>Jose Galvez 692, 7th Floor. The Board
            <p>
        </div>
        
        
        <form class="contact-form" action="#" method="POSt">
            <input type="email" placeholder="Your email" >
            <input type="text" placeholder="Name">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Messages"></textarea>
            <button class="btn-contact-submit" type="submit">
            <i class="fas fa-envelope"></i>
            Submit Message</button>
        </form>
    </section>
</main>
<script src="https://kit.fontawesome.com/323de7c654.js" crossorigin="anonymous"></script> 