<main id="index">
    <section id="hero">
        <div>
            <h1>The place where you get that job </h1>
            <p>With our Machine learning algorithm you will get that job in no time, We promise you! Just give us the money and we will take care of it. </p>
            <a href="sign-up" class="g-button">Create your account now</a>
        </div>
        <div>
          <img src="images/girl-with-cat.png" alt="Girl sitting in front of the computer, with a cat sitting happily under her.">
        </div>
    </section>
    <section id="lead">
        <div id="description">
            <h2>Find your next tech job</h2>
            <p>Our Machine learning algorithm is so good that it’s even illegal in some countries. Join us to use our barely legal algorithm that is actually a group of interns that work on our basement.</p>
            <p>We have a job for you, no matter your background or previous experience. Is sending random memes through chat your only skill? That’s ok, we got you, our Rock Star Meme Curator role is here for you.</p>
        </div>
        <div id="featured-jobs">
            <div class="g-job">
                <img id="logo" src="images/able.png">
                <div id="summary">
                    <div>Software Engineer</div>
                    <div id="location">
                      <h5>Able - Lima</h5>
                      <img src="images/peru.png">
                    </div>
                </div>
                <div id="tags">
                    <img src="images/monetization.png">
                    <div id="tag">ReactJS</div>
                    <span>Today</span>
                </div>
            </div>
            <div class="g-job">
                <img id="logo" src="images/able.png">
                <div id="summary">
                    <div>Software Engineer</div>
                    <div id="location">
                      <h5>Able - Lima</h5>
                      <img src="images/peru.png">
                    </div>
                </div>
                <div id="tags">
                    <img src="images/monetization.png">
                    <div id="tag">ReactJS</div>
                    <span>Today</span>
                </div>
            </div>
            <div class="g-job">
                <img id="logo" src="images/able.png">
                <div id="summary">
                    <div>Software Engineer</div>
                    <div id="location">
                      <h5>Able - Lima</h5>
                      <img src="images/peru.png">
                    </div>
                </div>
                <div id="tags">
                    <img src="images/monetization.png">
                    <div id="tag">ReactJS</div>
                    <span>Today</span>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonies">
        <img src="images/left.svg">
        <div id="testimony">
            <img src="images/girl.png">
            <h2> “Amazing experience, I love it a lot. Thanks to the team <br class="br">I got that Job, great!”<h1>
            <h5>Lassy Chester</h2>
            <h6>Art Director</h3>
        </div>
        <img src="images/right.svg">
    </section>
    <section id="contact">
        <div id="information">
          <div>
              <p>Contacts</p>
              <h3>Get in Touch</h1>
              <h4>If you are not sure yet, shoot us a message!</h4>
          </div>
          <div>
              <p>hello@getthatjob.com<p></p>
              <p>Jose Galvez 692, 7th Floor. The Board</p>
          </div>
        </div>
        <form action="#" method="POST">
            <input type="email" placeholder="Your email">
            <input type="text" placeholder="Name">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Messages"></textarea>
            <button class="btn-contact-submit" type="submit"><i class="fas fa-envelope"></i>Submit Message</button>
        </form>
    </section>
</main>