<head>
    <link rel="stylesheet" href="stylesheets/job.css">
</head>
<main>
  <section id="description">
    <a id="back" href="jobs"><img src="images/arrow-left.png" alt="">See more jobs</a>
    <h3>Software Engineer</h3>
    <p>Posted Feb 24</p>
    <div id="tags">
       <a class="tag" href="">ReactJS</a> 
       <a class="tag" href="">JS</a> 
       <a class="tag" href="">Ruby</a> 
       <a class="tag" href="">Ruby On Rails</a> 
       <a class="tag" href="">Buzz word</a> 
    </div>
    <p></p>
    <p>Able is seeking a Full-Stack Software Engineer. You will work on a variety of challenging, creative and innovative products that are part of our rapidly growing portfolio. Your experience will serve as a foundation for your growth at our company and we expect that you will keep developing your existing skills by growing your knowledge in areas you had never envisioned before.</p>
    <h4>What will be expected of you:</h4>
    <ul>
        <li>Build server-side applications as well as RESTful APIs with Ruby and Rails</li>
        <li>Build client-side applications with React, Redux, HTML5 and CSS3/SASS</li>
        <li>Collaborate with a super talented team of Engineers</li>
        <li>Develop and exercise your understanding of UX & UI design best practices</li>
        <li>Use the test-driven development paradigm</li>
        <li>Build server-side applications as well as RESTful APIs with Ruby and Rails</li>
    </ul>
    <h4>What we are looking for:</h4>
    <ul>
        <li>You have a passion for collaborative problem solving and the willingness to challenge, debate and form relationships with team members</li>
        <li>You know what you don’t know, you have no problem admitting it, and you’re eager to do whatever it takes to address that gap</li>
        <li>You have a desire to improve Able’s product development practices and the experience to follow-through on implementation</li>
    </ul>
    <h4>What we are looking for (again):</h4>
    <ul>
        <li>2+ years professional experience as a software engineer or equivalent</li>
        <li>Thorough and up-to-date knowledge of JavaScript and/or Ruby/Rails</li>
        <li>Understanding of MVC architectures and databases such as PostgreSQL and Redis</li>
        <li>Sufficient HTML and CSS skills to be able to work with designers to transform prototypes</li>
        <li>Experience building modern, responsive and interactive web applications using frameworks such as React</li>
        <li>Professional proficiency in written and spoken English</li>
    </ul>
    <h4>About Able:</h4>
    <p>Able builds technology products in a portfolio model. We believe that people, teams, and processes are more important than the ideas themselves, so we’ve focused on bringing great people together, and investing in their growth.</p>
    <p>We’ve built products in a variety of industries. Everything from media to finance to toys to healthcare. Sometimes we work with management teams to help their businesses grow faster or unlock value using technology. Other times we start or buy businesses outright. Each time, we look for opportunities to leverage technology built at the portfolio-level to drive value faster.</p>
    <p>We believe that a diverse team brings extraordinary success and we have created a work environment geared towards work/life balance and happiness. Able is committed to inclusion and diversity and is an equal opportunity employer. All applicants will receive consideration without regard to race, color, religion, gender, gender identity, sexual orientation, national origin, disability, or veteran status.</p>
    <div id="apply">
      <a class="button" href="">Get this job</a>
      <div id="share">
          <p>Share this job:</p>
          <a href=""><img src="images/facebook.png" alt=""></a>
          <a href=""><img src="images/linkedin.png" alt=""></a>
          <a href=""><img src="images/twitter.png" alt=""></a>
      </div>
    </div>
  </section>
  <section id="summary">
      <div>
          <img src="images/able.png" alt="Able's logo.">
          <h2>Able.co</h2>
          <p><img src="images/location.png" alt="Location."> Lima, Perú</p>
          <p><img src="images/open.png" alt="Location."> Open Website</p>
          <p>Posted 10 Jobs</p>
          <a class="button" href="">Get this job</a>
          <div class="separator"></div>
          <p>View all jobs <img src="images/right-square.png" alt="Right square."></p>
      </div>
  </section>
</main>