<head>
    <link rel="stylesheet" href="stylesheets/jobs.css">
</head>
<main>
    <h2>Jobs for you</h2>
    <header id="filters">
        <div>
          <div id="search-box">
            <img src="images/magnifying-glass.png" alt="Magnifying glass.">
            <input type="text" placeholder="Find that job!">
          </div>
          <select class="qualifier" name="country" id="country">
              <option value="">Country</option>
          </select>
          <select class="qualifier" name="type" id="type">
              <option value="">Type</option>
          </select>
          <select class="qualifier" name="salary-range" id="salary-range">
              <option value="">Salary Range</option>
          </select>
          <select class="qualifier" name="more" id="more">
              <option value="">More</option>
          </select>
        </div>
        <div id="sort-box">
            <p>Recommended</p><img src="images/down.png" alt="Down arrow.">
        </div>
    </header>
    <section id="jobs">
        <div class="job">
          <div class="job-summary">
            <img src="images/able.png" alt="Able's logo.">
            <div>
                <div class="job-summary-line">
                    <p>Software Engineer</p><a href="" class="tag tag--color-red">NEW</a>
                </div>
                <div class="job-summary-line">
                    <p><strong>Able - Lima</strong></p><img src="images/peru.png" alt="">
                </div>
            </div>
          </div>
          <div class="job-tags">
              <img src="images/monetization.png" alt="Monetization.">
              <a href="" class="tag">ReactJS</a>
              <a href="" class="tag">ReactJS</a>
              <p>Today</p>
          </div>
        </div>
    </section>
    <section id="load-more">
        <a href="" class="button">Load more</a>
    </section>
</main>