<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Get the job</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/index.css">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
  <nav class="nav">
    <img class="logo" src="images/logo.png" alt="GetThatJob's logo.">
    <div class="menu">
      <a class="menu__link" href="">Help</a>
      <a class="menu__link" href="">Companies</a>
      <a class="menu__link" href="">Jobs</a>
      <a class="menu__button" href="">Sign in</a>
      <a class="menu__button menu__button--purple" href="">Create an account</a>
    </div>
  </nav>
</header>
<body>
  <%= yield %>

</body>
</html>