<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Get the job</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/index.css">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="layout_body">
  <nav class="layout_nav">
    <a class="nav_logo"  href="index"><img src="images/logo.png" alt="GetThatJob's logo."></a>
    <div class="nav_links">
      <a class="nLinks" href="#">Help</a>
      <a class="nLinks" href="#">Companies</a>
      <a class="nLinks" href="jobs">Jobs</a>
      <a class="nLinks" href="faq">FAQ</a>
    </div>
    <div class="nav_account">
      <a class="aLinks" href="login">Sign in</a>
      <a class="aLinks" href="signup">Create an account</a>
    </div>
  </nav>
  <%= yield %>
  <footer class="Layout_footer">
    <div class="footer_list">
      <p class="list_title">Jobs</p>
      <a class="fLink" href="">Software Engineer</a>
      <a class="fLink" href="">Frontend Engineer</a>
      <a class="fLink" href="">Codeable Engineer</a>
      <a class="fLink" href="">Backend Engineer</a>
      <a class="fLink" href="">Meme Master</a>
      <a class="fLink" href="">University Dropout</a>
    </div>
    <div class="footer_list">
      <p class="list_title">Company</p>
      <a class="fLink" href="">Blog</a>
      <a class="fLink" href="">Careers</a>
      <a class="fLink" href="">Privacy</a>
      <a class="fLink" href="">About</a>
    </div>
    <div class="footer_list">
      <p class="list_title">Support</p>
      <a class="fLink" href="">Documentation</a>
      <a class="fLink" href="">Security</a>
      <a class="fLink" href="">Mobility Guide</a>
      <a class="fLink" href="">FAQs</a>
    </div>
    <div class="footer_list">
      <p class="list_title">Legal</p>
      <a class="fLink" href="">Terms of Service</a>
      <a class="fLink" href="">Privacy Policy</a>
      <a class="fLink" href="">Cookie Information</a>
      <a class="fLink" href="">GDPR Commitment</a>
    </div>
  </footer>
  <p class="copyright">©2020 Get That Job</p>
</body>
