<head>
    <link rel="stylesheet" href="stylesheets/form.css">
</head>
<section class="login-div">
      <h3 class="title">Login</h3>
      <form class="login-form" action="index">
        <label class="form_label" for="email">Email</label>
        <input class="form_input" type="email" id="email" name="email" placeholder="youremail@email.com" />
        <label class="form_label" for="password">Password</label>
        <input class="form_input" type="password" id="password" name="password" placeholder="*******" />
        <input class="form_btn" type="submit" value="Submit" />
        <a class="form_link" href="forgot-password">Forgot password?</a>
      </form>
</section>