<head>
    <link rel="stylesheet" href="stylesheets/css/form.css">
</head> 
<section class="Recovery-div height">
      <h3 class="title">Recovery email sent!</h3>
      <form class="Recovery-form" action="#">
        <label class="form_label">You should receive instructutions to reset your password in your email</label>
      </form>
</section>