<head>
    <link rel="stylesheet" href="stylesheets/css/form.css">
</head>
<section class="signup-div height">
      <h3 class="title">Sign Up</h3>
      <form class="login-form" action="register">
        <label class="form_label" for="email">Email</label>
        <input class="form_input" type="email" id="email" name="email" placeholder="youremail@email.com" required/>
        <label class="form_label" for="password">Password</label>
        <input class="form_input" type="password" id="password" name="password" placeholder="*******" required/>
        <label class="form_label" for="Cpassword">Password</label>
        <input class="form_input" type="password" id="Cpassword" name="Cpassword" placeholder="*******" required/>
        <input class="form_btn" type="submit" value="Submit" />
        <a class="form_link" href="login">Sign in</a>
      </form>
</section>