* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Nunito";
}

#layout {
    margin: 0 180px;
    max-width: 1080px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav > div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
}

nav > div a:nth-child(n + 4) {
    border: 2px solid black;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 3px 4px;
}

nav > div a:last-child {
    color: #3C2DFF;
    border-color: #3C2DFF;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer > div {
    display: flex;
    flex-direction: column;
}

footer > div p {
    font-size: 18px;
}

footer > div a {
    text-decoration: none;
    color: #7A7A7A;
}

#copyright {
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #73738D;
}

.tag {
    font-family: "Nunito";
    color: white;
    font-size: 12px;
    line-height: 20px;
    display: inline;
    background: #3C2DFF;
    border: 1px solid #3C2DFF;
    border-radius: 4px;
    padding: 3px 4px;
}