#index {
    #hero {
        background-color: #F7FAFC;
        display: flex;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
    #lead {
        background-color: #3C2DFF;
        display: flex;
        #description {
            p {
                color: white;
            }
            h2 {
                color: white;
            }
        }
        #featured-jobs {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    #testimonies {
        display: flex;
        justify-content: space-between;
        #testimony {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    #contact {
        display: flex;
        justify-content: space-between;
        background-color: #F7FAFC;
        #information {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            p {
                text-transform: uppercase;
                color: #999999;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            input, textarea {
                border: 1px solid #666666;
                border-radius: 5px;
                font-size: 16px;
                color: #7a7a7a;
                margin-bottom: 16px;
                padding: 13px 0px 12px 24px;
            }
            button {
                height: 60px;
                width: 197px;
                background: #000000;
                color: #ffffff;
                font-size: 15px;
                border: 1px solid #000000;
                border-radius: 5px;
                i {
                    color: white;
                    margin-right: 5px;
                }
            }
        }
    }
}