* {
    font-family: "Nunito";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;

}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    margin: 10px 0;
}

main {
    background-color: #F7FAFC;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.g-job {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    padding: 10px;
    height: 82px;
    #logo {
        margin-right: 10px;
    }
    #summary {
        display: flex;
        flex-direction: column;
        #location {
            display: flex;
            align-items: center;
            img {
                margin-left: 3px;
            }
        }
    }
    #tags {
        margin-left: auto;
        display: flex;
        align-items: center;
        * {
            margin: 0 5px;
        }
    }
}

.g-button {
    color: white;
    background-color: #3C2DFF;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 20px;
}

#p-layout {
    > nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        height: 100px;
        padding: 0px 100px;
        @media screen and (max-width: 769px) {
            padding: 0 10px;
        }
        #tabs {
            display: none;
            @media screen and (min-width: 769px) {
                display: flex;
            }
            a {
              font-weight: bold;
              margin-left: 20px;
            }
            a:nth-child(n + 4) {
                border: 2px solid black;
                border-radius: 4px;
                text-transform: uppercase;
                padding: 0 10px;
            }
            a:last-child {
                color: #3C2DFF;
                border-color: #3C2DFF;
            }
        }
        #collapse {
            @media screen and (min-width: 769px) {
                display: none;
            }
        }
    }
    > footer {
        display: flex;
        justify-content: space-between;
        padding: 50px 100px;
        @media screen and (max-width: 769px) {
            flex-wrap: wrap;
            padding: 25px 10px;
            align-items: center;
        }
        div {
            a {
                color: #7A7A7A;
            }
            a:last-child {
                color: #AD00FF;
            }
        }
    }
    > aside {
        text-align: center;
    }
}

.separator {
    border-bottom: 1px solid black;
    width: 100%;
}

.button {
    font-weight: bold;
    background: #3C2DFF;
    padding: 10px 50px;
    margin: 15px 0;
    color: white;
}

.tag {
    margin-right: 5px;
    padding: 3px 4px;
    color: white;
    background: #3C2DFF;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
}

.tag--color-red {
    background: #FF0D0D;
}